# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
plugin/.idea/misc.xml
plugin/.idea/modules.xml
plugin/.idea/workspace.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/artifacts/simi_jar.xml
.idea/artifacts/simi_jar.xml
.idea/compiler.xml
.idea/artifacts/simi_jar.xml
DateFormatter/.idea/compiler.xml
DateFormatter/.idea/artifacts/DateFormatter_jar.xml
DateFormatter/.idea/markdown-navigator/profiles_settings.xml
DateFormatter/.idea/misc.xml
DateFormatter/.idea/modules.xml
DateFormatter/.idea/workspace.xml
DateFormatter/out/production/DateFormatter/generated/net/globulus/simi/api/JavaApi.java
Stdlib-java/.idea/artifacts/Stdlib_java_jar.xml
Stdlib-java/.idea/compiler.xml
Stdlib-java/.idea/markdown-navigator.xml
Stdlib-java/.idea/markdown-navigator/profiles_settings.xml
Stdlib-java/.idea/misc.xml
Stdlib-java/.idea/modules.xml
Stdlib-java/.idea/workspace.xml
DateFormatter/.idea/markdown-navigator.xml
Stdlib-java/out/production/Stdlib-java/generated/net/globulus/simi/api/JavaApi.java
File-java/.idea/artifacts/File_java_jar.xml
File-java/.idea/compiler.xml
File-java/.idea/markdown-navigator/profiles_settings.xml
File-java/.idea/modules.xml
File-java/.idea/misc.xml
File-java/.idea/workspace.xml
File-java/out/production/File-java/generated/net/globulus/simi/api/JavaApi.java
metasimi/stdlib/File.simi
metasimi/stdlib/Stdlib.simi
metasimi/docs.md
Native-java/.idea/artifacts/Native_java_jar.xml
Native-java/.idea/compiler.xml
Native-java/.idea/markdown-navigator/profiles_settings.xml
Native-java/.idea/compiler.xml
Native-java/.idea/misc.xml
Native-java/.idea/modules.xml
Native-java/.idea/workspace.xml
Native-java/out/production/Native-java/generated/net/globulus/simi/api/JavaApi.java
Stdlib-java/out/production/Stdlib-java/generated/net/globulus/simi/api/JavaApi.java
Gson-java/.idea/artifacts/Gson_java_jar.xml
Gson-java/.idea/compiler.xml
Gson-java/.idea/markdown-navigator/profiles_settings.xml
Gson-java/.idea/compiler.xml
Gson-java/.idea/misc.xml
Gson-java/.idea/modules.xml
Gson-java/.idea/workspace.xml
Gson-java/out/production/Gson-java/generated/net/globulus/simi/api/JavaApi.java
Net-java/.idea/artifacts/Net_java_jar.xml
Net-java/.idea/compiler.xml
Net-java/.idea/markdown-navigator/profiles_settings.xml
Net-java/.idea/modules.xml
Net-java/.idea/workspace.xml
Net-java/.idea/misc.xml
Net-java/out/production/Net-java/generated/net/globulus/simi/api/JavaApi.java
File-java/out/production/File-java/generated/net/globulus/simi/api/File_java.java
Net-java/out/production/Net-java/generated/net/globulus/simi/api/Net_java.java
Stdlib-java/out/production/Stdlib-java/generated/net/globulus/simi/api/JavaApi.java
Stdlib-java/out/production/Stdlib-java/generated/net/globulus/simi/api/Stdlib_java.java
Gson-java/out/production/Gson-java/generated/net/globulus/simi/api/Gson_java.java
Mariadb-java/out/production/Mariadb-java/generated/net/globulus/simi/api/JavaApi.java
Sql-java/out/production/Sql-java/generated/net/globulus/simi/api/JavaApi.java
out/

build/
.gradle
