# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
plugin/.idea/misc.xml
plugin/.idea/modules.xml
plugin/.idea/workspace.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/artifacts/simi_jar.xml
.idea/artifacts/simi_jar.xml
.idea/compiler.xml
.idea/artifacts/simi_jar.xml
DateFormatter/.idea/compiler.xml
DateFormatter/.idea/artifacts/DateFormatter_jar.xml
DateFormatter/.idea/markdown-navigator/profiles_settings.xml
DateFormatter/.idea/misc.xml
DateFormatter/.idea/modules.xml
DateFormatter/.idea/workspace.xml
DateFormatter/out/production/DateFormatter/generated/net/globulus/simi/api/JavaApi.java
Stdlib-java/.idea/artifacts/Stdlib_java_jar.xml
Stdlib-java/.idea/compiler.xml
Stdlib-java/.idea/markdown-navigator.xml
Stdlib-java/.idea/markdown-navigator/profiles_settings.xml
Stdlib-java/.idea/misc.xml
Stdlib-java/.idea/modules.xml
Stdlib-java/.idea/workspace.xml
DateFormatter/.idea/markdown-navigator.xml
Stdlib-java/out/production/Stdlib-java/generated/net/globulus/simi/api/JavaApi.java
